* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.article {

    width: 600px;
    height: 300px;
    box-shadow:#171717;
    

}

.articlebox {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-bottom: 100vh;
    margin-top: 80px;
}
.article .heading {
    margin-bottom: -40px;
}

.article .heading h1 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: center;



}

.article .heading h3 {
    color: #f2e2ff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    text-align: center;


}

.article h3 {
    color: #f2e2ff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    


}

.article h4 {

    color: #f2e2ff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
    margin-top: -40px;
    text-align: center;

}


.article p {
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    line-height: 20px;


}

.article img {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 25px;

}

.buttoncontainer {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttoncontainer a button {
    
    padding: 10px 25px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    font-size: 18px;
    border-radius: 15px;
    justify-content: left;
    margin-right: 50px;
    letter-spacing: 1.5px;
    
}
    
.buttoncontainer a button:hover {
    color: #171717;
    background-color: #f2e2ff;
}


.buttoncontainer a h3 {
    
    padding: 10px 25px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 12px;
    

    
    
}
.buttoncontainer a h3:hover {
    color: #f2e2ff;
    text-decoration: underline;
    
}

.buttoncontainer a {
    text-decoration: none;
}
