* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
    height: 100%;
    

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    width: 25%;
    padding: 0 15px;

}
.footer-column h4 {
    font-size: 1.3em;
    color: #171717;
    text-transform: lowercase;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
}

.footer-column h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #171717;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 5px;
    font-size: 1em;
    text-transform: none;
    color: #171717;
    font-weight: 500;
    display: block;
}

.footer {
    background-image: linear-gradient(to right, #f2e2ff, #e2eeff);
    position: absolute;
    left: 0;
    bottom:0;
    height:200px;
    width:100%;
    padding: 70px 0;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
    align-items: center;
}

.footer-column .socials a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #171717;


}
