* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #171717;
    min-height: 100vh;
    overflow-x: hidden;
    
}

/*Slider*/

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 80px;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 2s ease;
}

.slide {
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.slide-data {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding: 0 20%;
    color: #fff;

}

.slide-data h1 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 45px;


}

.slide-data p {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}

.slide-data button {
    padding: 10px 25px;
    color: #fff;
    border: 1px solid #171717;
    background: transparent;
    outline: none;
    font-size: 18px;

}

.slide-data button:hover {
    color: #171717;
    background-color: #f2e2ff;
}


.slide-1 {
    background-image: url(../images/studystockforside.jpg);
}
.slide-2 {
    background-image: url(../images/schoolwork.jpg);
}
.slide-3 {
    background-image: url(../images/stockstudying.jpg);
}

.slider .arrows {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 60px;
    transition: 0.4s linear;
}

.slider .arrows:hover {
    color: #171717;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.slider .arrows label {
    display: none; 
}

.slider .arrow-left {
    left: 3%;

}

.slider .arrow-right {
    right: 3%;
    
}

.slider input:nth-child(1):checked ~ .slides {
    left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
    left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
    left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
  display: block;
}

.slider .dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;

}

.slider .dots label {
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.slider input:nth-child(1):checked ~ .dots label:nth-child(1),
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3) {
    background-color: #171717;
    border: 2px solid #fff;
}




/*Cardstyles for cards underneath slider*/

.sitecontainer {
    font-size: 0.8em;
    line-height: 1.5;
    margin: 2rem auto;
    max-width: calc(100% - 80px);
    padding-top: 1px;
    padding-bottom: 50px;

}

.articlecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 3rem;
    

}

.articleimage {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.articleimage img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.articlecard {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
    

}

.articlecard:hover {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.05);
    cursor: pointer;

}

.articlecontent {
    padding: 2rem;

}

.articlecontent .cardname {
    font-size: 0.8rem;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #171717;
    display: block;
    text-decoration: none;
}

.articlecontent .cardtitle {
    margin: 1rem 0;
    color: #171717;

}

.articlecontent .cardpara {
    font-size: 1rem;
    line-height: 1.5rem;
    color:#171717;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .sitecontainer {
        max-width: 608px;
    }
    .articlecard {
        display: grid;
        grid-template-rows: 220px 1fr;
    }
}

@media screen and (min-width: 1280px) {
    .sitecontainer {
        max-width: 1080px;

    }
}